.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(to bottom right, #08276b, #630e7a);
}

.box {
  width: 400px;
  border-radius: 8px;
  background-color: #ffffff;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  flex-direction: column;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-input {
  position: relative;
  display: flex;
  width: 94%;
  margin: 16px 1rem 0 1rem;
  flex-direction: row;
  border-radius: 20px;
  background-color: #edeef0;
  border: none;
}

.input {
  height: 32px;
  background-color: #edeef0;
  border: none;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  width: 98%;
  font-family: revert;
  padding-left: 1rem;
}

.input:focus-visible {
  outline: none;
}

.input::placeholder {
  font-size: 12px;
  color: #919294;
  font-family: sans-serif;
}

ul li span.checked {
  color: #37393fd2;
  text-decoration: line-through;
}

.add-button {
  width: 100px;
  height: 36px;
  border-radius: 20px;
  font-family: revert;
  background: #ff5845;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.text {
  position: absolute;
  top: -14px;
  right: 183px;
  font-weight: bold;
  color: #1d216e;
  font-size: 15px;
  font-family: 'Fredoka One', cursive;
}

.text img {
  width: 38px;
  height: 38px;
  display: flex;
}

ul li {
  width: 96%;
  font-size: 16px;
  padding: 4px;
  margin-bottom: 3px;
  display: flex;
  list-style: none;
  cursor: pointer;
  align-items: start;
  position: relative;
  gap: 3px;
  word-break: break-word;
}

.style {
  margin-top: 53px;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: -21px;
  width: 96%;
}
.style::-webkit-scrollbar {
  width: 8px;
}

.style::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.style::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.style::-webkit-scrollbar-thumb:hover {
  background: #555;
}

ul li button.checklist-btn {
  width: 20px;
  height: 20px;
  border: 2px solid #949191;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li.checked button.checklist-btn {
  background-color: #ff5845;
  border-color: #ff5845;
  position: relative;
}

ul li.checked button.checklist-btn::after {
  content: '';
  position: absolute;
  margin-top: -3px;
  width: 9px;
  height: 4px;
  border: 2px solid white;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

.filters {
  position: absolute;
  display: flex;
  gap: 10px;
  margin-top: 65px;
  right: 96px;
  z-index: 10;
}

.filters button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  background-color: #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #333;
}

.filters button.active {
  background-color: #3e4fd1;
  color: white;
  cursor: default;
}

.filters button.active:hover {
  background-color: #411b8cf1;
  color: white;
}

.filters button:hover {
  background-color: #515ecf;
  color: white;
}
.buttons {
  display: flex;
  gap: 5px;
}
.custom-button {
  font-family: revert;
  border: none;
  cursor: pointer;
  padding: 5px 5px;
  border-radius: 16px;
  background-color: #6272f087;
  color: white;
  transition: background-color 0.3s ease, transform 0.1s;
}

.custom-button:hover {
  background-color: #515ecf;
}

.custom-button:active {
  background-color: #8a9bff;
  transform: scale(0.96);
}

.custom-button:focus {
  background-color: #8a9bff;
}

.custom-button:disabled {
  background-color: #a3adf7f5;
  cursor: not-allowed;
  color: #6c6f8a;
}

ul li span {
  flex-grow: 1;
  margin-right: auto;
  font-family: 'Fredoka One', cursive;
}

ul li form {
  display: flex;
  align-items: center;
  gap: 1px;
  width: 100%;
}

ul li form input {
  flex-grow: 1;
  padding: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 13px;
}

.no-tasks-message {
  text-align: center;
  color: #888;
  margin-top: 20px;
  margin-right: 32px;
  font-style: italic;
}
